@model Category

<partial name="_CatData" />

<a asp-controller="Categories" asp-action="GetIndexView" class="btn btn-success mt-2"> <i class="bi bi-arrow-left-circle"></i>Back To List</a>
<br />
<br />
